<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
  </head>

  <body>
    <h1>New Book Page</h1>
    <form action="/books" method="POST">
      description: <input type="text" name="description" /><br />
      price: <input type="text" name="price" /><br />
      img: <input type="checkbox" name="img" /><br />
      <input type="submit" name="" value="Add Book" />
    </form>
  </body>
</html>
